/*
cores:
marrom - cabeçalho e rodapé: rgb(27, 15, 0)
laranja - corpo rgb(209, 65, 36)
rosa - rgb(175, 20, 59)
marrom ícones - rgb(79, 34, 1)
fontes escuras - rgb(28, 15, 0)
fontes cinzas  - rgb(83, 83, 83)
*/
h1{
    color: white;
}
h2{
    text-align: center;
}
a{
    color: white;
    text-decoration: none;
}
ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
li{
    color:white;
    padding: 7px;
    margin: 10px;
}
button{
    background-color: rgb(175, 20, 59);
    color: white;
    border: none;
    padding: 15px;
}
header, main, footer, #welcome{
    padding:100px;
    text-align: center;
    margin: auto;
}
header{
    background-color: rgb(27, 15, 0);
}
header p{
    color: rgb(83, 83, 83);
}
header em{
    color: white;
    font-style: normal;
}
header li:first-child{
    background-color: rgb(175, 20, 59);
}
#welcome{
    background-color: rgb(209, 65, 36);
}
body{
    margin: 0;
}
.info1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.info2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.info{
    height: 100%;
    width: 200px;
    margin: 50px;
}
footer{
    background-color: rgb(27, 15, 0);
}
footer p{
    color: white;
}
footer li{
    background-color: rgb(79, 34, 1);
}