body {
    background-color:rgb(2, 27, 38);
}
main {
    background-color: #fff;
    padding: 20px;
}
blockquote, main footer {
    background-color: rgb(195, 227, 245);
}

header {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

header h1 {
    color: #fff;
}
nav ul {
    display:flex;
    flex-direction: row;
}

nav li {
    margin: 10px;
}

nav a {
    color:#fff;
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 
}
h1,h2,h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
figcaption{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
    text-decoration: none;
}
header,main, footer{
    box-sizing: border-box;
    margin: auto;
    width: 940px;
    padding: 15px;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
header h1{
    color: white;
    justify-content: center;
}
#banner{
    background-image: url(../imagens/surf.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0 5px;
    background-attachment: fixed;
    width: 100%;
    height: 350px;
    box-sizing: border-box;
}
#banner h2{
    margin: 0 0 0 30px;
    padding: 30px 0 0 0;
    font-size: 3em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}
#banner p{
    margin: 10px 0 0 40px;
    font-size: 1em;
    width: 300px;
    font-family:'Times New Roman', Times, serif;
    color: white;
}
#info{
    display: flex;
    flex-direction: row;
}
.info{
    background-color: #0e5381;
    color: white;
    width: 400px;
    height: 180px;
    padding: 10px;
    margin: 20px 10px 10px 10px;
}
.info h3{
    font-size:1.7em;
    margin: 0 0 0 0 ;
    padding: 0 0 0 0 ;
}
.info p {
    margin: px 0 3px 0;
}
#info1{
    margin-left: 0;
}
#info3{
    margin-right: 0;
}
.info button{
    color: white;
    background-color: #52a9ff;
    border: none;
    text-align: center;
    padding: 5px;
}
#info4{
    display: flex;
    flex-direction: row;
}
#conq{
    margin: 0;

}
#conq figure{
    margin: 0;
    display: flex;
    flex-direction: row;
}
#conq img {
    margin: 0 10px 0 0;
    width: 300px;
    height: 100%;
}
#conq figcaption{
    width: 250px;
}
#conq h3{
    margin: 0 0 20px 0;
    display: block;
}
#depo{
    width: 400px;
}
#depo blockquote{
    background-color: rgb(195, 227, 245);
    padding: 30px;
    margin: 0 0 25px 3px;
}
footer{
    color: white;
    padding: 0 0 0 0;
}
#copyr{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
main footer{
    background-color: rgb(195, 227, 245);
    width: auto;
    padding: 0;
}


