body{
    background-color: rgb(2,27,38);
}
main{
    background-color: white;
    padding: 20px;
}
blockquote, main footer{
 
    background-color: rgb(195, 227,245 );
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}
nav a{
color: white;
}
nav li{
    padding: 20px;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}
li{

    color : white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
h1 
{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
h2 {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
p{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
    footer ul {
        display: flex;
    }

    header,main,footer
    {
        width: 900px;
        margin: auto;
    }
#banner{
 background-image: url(../imagens/surf.png);
 background-repeat: no-repeat;
 width: 900px;
 height: 300px;
}