teste.css

body{
    background-color: rgb(2,27,38);
}
main{
    background-color: white;
}
blockquote, main footer{
 
    background-color: rgb(195, 227,245 );
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}
nav a{
color: white;
}
nav li{
    padding: 20px;
}
a{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.9em;
}
li{

    color : white;
}
h1, h2
{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
footer ul {
    display: flex;
}

header,main,footer
{       
    margin: auto;
    padding: 20px;
    width: 900px;
    box-sizing: border-box;
     
}
header{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
header h1{
    color: white;
    justify-content: center;
}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#banner1{
    background-image: url(../imagens/surf.png);
    background-repeat: no-repeat;
    background-position: 0 5px;
    background-size: 100% 100%;
    color: white;
    height: 400px;
    width: 100%;
    box-sizing: border-box;
    background-attachment: fixed;
  
}

#banner1 h2 {
    font-size: 3em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0 0 0 50px;
    padding: 80px 0  0 0;
}
#banner1 p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: -70px 0 0 50px;
    padding: 80px 0  0 0;
    font-size: 17px;
    }
#info{
    display: flex;
    flex-direction: row;
}
.info{
        background-color:rgb(1, 92, 122);
        color: white;
        width: 200px;
        height: 100%;
        padding: 20px;
        margin: 30px 15px 15px 15px;
}
 #info1{
        margin-left: 0;
}
.info p{
        margin:7px 0px 7px 0;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.info h3{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.info button{
    background-color: rgb(60, 206, 255);
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px;
    border: none;
    padding: 7px;
}
#infofinal{
    background-color: white;
    color:black;
}
 #infofinal img{
        margin 0 20px 0 0;
        height: 100%;
}
#infofinal figcaption{
    width: 0px;
}